/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    
}

.container {
    max-width: 1200px; /* Adjust max-width value */
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.8); /* Transparent white text color */
}


.menu-toggle {
    display: none;
}

.nav-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff5722;
}

.add-movie .genres {
    margin-bottom: 20px;
}

.genres label {
    color: #fff;
    margin-right: 10px;
}

.genres select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(94, 55, 55, 0.1);
    color: #fff;
    width: 200px;
}

.search-bar {
    position:absolute;
    top: 20px;
    right: 20px; 
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(44, 42, 42, 0.5);;
    color: #fff;
    width: 150px;
}

/* Rest of your styles... */


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
}

h1 {
    text-align: center;
    position:relative;
}

/* Styles for the watchlist */
.add-movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-movie input[type="text"],
.add-movie input[type="number"],
.add-movie select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(94, 55, 55, 0.1);
    color: #fff;
}

.add-movie input[type="text"],
.add-movie input[type="number"] {
    width: 200px;
}

.add-movie button,
.change-status-button,
.remove-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-movie button:hover,
.change-status-button:hover,
.remove-button:hover {
    background-color: #f44336;
}

.watchlist-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.watchlist-item h3 {
    margin-top: 0;
    color: #ff5722;
}

.watchlist-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.watchlist-item p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .watchlist-container {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }
}
@media (max-width: 768px) {
    .add-movie {
        flex-direction: column;
    }

    .add-movie input,
    .add-movie select {
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .add-movie {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .add-movie > * {
        flex: 1 1 50%;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .add-movie input[type="text"],
    .add-movie input[type="number"],
    .add-movie select {
        width: 100%;
    }
}

#add-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#add-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#add-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.watch-now-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.watch-now-button:hover {
    background-color: #005f75;
}

.watch-now-button:active {
    background-color: #004a5b;
}


.animated-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #bd6666;
    background-color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.animated-select:hover {
    border-color: #ce2d2d;
}

.animated-select:focus {
    outline: none;
    border-color: #b68f83;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.animated-select option {
    background-color: #fff;
}
/* Example of media queries for responsiveness */
@media (max-width: 768px) {
    /* Styles for smaller screens */
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    /* Additional responsive styles as needed */
}
/* Example of dark mode toggle */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}
