/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
}

.container {
    max-width: px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.8); /* Transparent white text color */
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://videocdn.cdnpk.net/joy/content/video/free/video0485/large_preview/_import_61c07a564c1b19.29330319.mp4');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
    overflow: hidden;
}

h1 {
    text-align: center;
}

/* Styles for the watchlist */
.add-movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-movie input[type="text"],
.add-movie input[type="number"],
.add-movie select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(94, 55, 55, 0.1);
    color: #fff;
}

.add-movie input[type="text"],
.add-movie input[type="number"] {
    width: 200px;
}

#add-button,
.change-status-button,
.remove-button,
.watch-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-button:hover,
.change-status-button:hover,
.remove-button:hover,
.watch-button:hover {
    background-color: #f44336;
}

#watchlist {
    margin-top: 20px;
}
.watchlist-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Increase margin */
    border-radius: 4px;
    position: relative;
    background-size: cover; /* Adjust background size */
    background-position: center; /* Center the background image */
    cursor: pointer;
}

.watchlist-item h3 {
    margin-top: 0;
    color: #ff5722;
}

.watchlist-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.watchlist-item p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .watchlist-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust for medium size */
        grid-gap: 20px;
    }
}

.animated-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #bd6666;
    background-color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.animated-select:hover {
    border-color: #ce2d2d;
}

.animated-select:focus {
    outline: none;
    border-color: #b68f83;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.animated-select option {
    background-color: #fff;
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

.animated-select {
    animation: slideIn 0.5s ease forwards;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
}

#release-date-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    margin-right: 5px;
}

#release-date-input:focus {
    outline: none;
    border-color: #ccc; /* Change border color when focused */
}

#release-date-input::placeholder {
    color: #ccc;
}


/* CSS for Mobile Phones */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Adjust container padding for smaller screens */
    }

    .background-image {
        display: none; /* Hide background image on smaller screens */
    }

    .add-movie {
        flex-direction: column; /* Change flex direction for add movie section */
        align-items: flex-start; /* Align items to the start */
    }

    .add-movie input[type="text"],
    .add-movie input[type="number"],
    .add-movie select {
        width: 100%; /* Set input and select width to full */
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add bottom margin */
    }

    .watchlist-item {
        padding: 10px; /* Adjust padding for watchlist items */
    }
}
#genre-filter {
    position: relative;
}

#genre-filter option:not(:first-child) {
    display: none;
}

#genre-filter[data-state='active'] option {
    display: block;
}

